[submodule "simple-ws-sample"]
	path = simple-ws
	url = git@github.com:seedstack/simple-ws-sample.git
[submodule "ecommerce-client-sample"]
	path = ecommerce-client
	url = git@github.com:seedstack/ecommerce-client-sample.git
[submodule "catalog-microservice-sample"]
	path = catalog-microservice
	url = git@github.com:seedstack/catalog-microservice-sample.git
[submodule "ecommerce-domain-sample"]
	path = ecommerce-domain
	url = git@github.com:seedstack/ecommerce-domain-sample.git
[submodule "store-webapp-sample"]
	path = store-webapp
	url = git@github.com:seedstack/store-webapp-sample.git
