[submodule "web-services"]
	path = web-services
	url = https://github.com/seedstack/web-services-sample.git
	branch = master
[submodule "w20-hypermedia"]
	path = w20-hypermedia
	url = https://github.com/seedstack/w20-hypermedia-sample.git
	branch = master
[submodule "catalog-microservice"]
	path = catalog-microservice
	url = https://github.com/seedstack/catalog-microservice-sample.git
	branch = master
[submodule "store-webapp"]
	path = store-webapp
	url = https://github.com/seedstack/store-webapp-sample.git
	branch = master
