[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
}

.text-justify {
    text-align: justify;
}